h1,.address { /*assign navy color for heading and first 2 lines of the address*/
    color: navy;
}
header,footer { /*assign lightblue color background for top and bottom of the page*/
    background-color: lightblue;
}
#phoneNum { /*assign maroon color for phone number*/
    color: maroon;
}
header {
    text-align: center;
}
footer {
    text-align: right;
}
