body{
    margin: 0;
}

footer {
    background-color: lightblue;
    text-align: right;
}
.container {
    height: 440px;
    width: 1200px;
    margin: 0 auto;
    border: solid black;

}
.leftp {
   height: 250px;
   width: 400px;
   padding: ;
   float: left;
   background-color: yellow;
}
.rightp {
   height: 250px;
   width: 800px;
   float: right; 
   background-color: white;
}
header {
    width: 1200px;
    height: 100px;
    background-color: lightblue;
    text-align: center;
    border: solid black;
}