.container {
    max-width: 1280px;
    margin: 0 auto;
    background-color: white;
    position: relative;
 }
 .container h1{
     text-align: center;
     background-color: lightblue;
     height: 50px;
     padding: 20px;
 }
 nav.sitenav p{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:white;
}
 nav.sitenav div{
     text-align: center;
     background-color: black;
 }
 article, body, figure, div, footer, header, h1, h2, img, nav, p {
    border: 0;
    padding: 0;
    margin: 0;
 }
 article div.intro{
    float:left;
    width:70%;
    height:100px;
    background-color: lightblue;
 }
 article div.interest {
    height: 200px;
    background-color: lightblue;;
 }
 article div.interest p{
     text-align: center;
     margin: 20px 100px 0px 100px;
     height: 100px;
     width: 50%;
     padding-top: 10px;
     background-color: white;
     border: solid black;
     position: fixed;
 }
 aside{
     float: right;
     height:100px;
     width: 30%;
     background-color: lightblue;
 }
 footer {
     clear:both;
     text-align: center;
 }